body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(37, 39, 50);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabecera */
.header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: rgb(17, 16, 35);
  color: aliceblue;
}
.nav {
  position: relative;
  display: flex;
  height: 90px;
  align-items: center;
  left: 45px;
}
.nav a {
  position: relative;
  align-items: center;
  color: aliceblue;
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  padding-bottom: 4px;
  text-decoration: underline 2px;
}
.logo {
  position: relative;
  width: 70px;
  padding-right: 75px;
}

/* Contenido principal */
.content {
  position: relative;
  top: 100px;
  flex: 1;
  padding: 2rem;
  text-align: center;
  z-index: -1;
}
.zelda {
  position: absolute;
  display: flex;
  left: 42px;
  margin-top: 35px;
  border-radius: 10px;
}

.item-list {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.item {
  background-color: rgb(17, 15, 37);
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 350px;
  align-content: end;
  color: #fff;
}

.item h3 {
  margin: 0;
  font-size: 1.2rem;
}
.tituljocs {
  position: relative;
  display: flex;
  left: 15px;
  color: aliceblue;
}
.titulanime {
  position: relative;
  display: flex;
  left: 15px;
  color: aliceblue;
}
.titulpeli {
  position: relative;
  display: flex;
  left: 15px;
  color: aliceblue;
}
.titulseries {
  position: relative;
  display: flex;
  left: 15px;
  color: aliceblue;
}
.titulrestaurants {
  position: relative;
  display: flex;
  left: 15px;
  color: aliceblue;
}
.fuentebusqueda {
  position: relative;
  display: flex;
}
.busqueda {
  position: relative;
  left: 15%;
  width: 300px;
  height: 36px;
  border-radius: 18px;
  background: aliceblue;
  padding-left: 37px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 17px;
  color: rgb(48, 22, 100);
  border: none;
}

.lupa {
  position: relative;
  top: 6px;
  width: 25px;
  height: 25px;
} 
.botoregis {
  position: relative;
  display: flex;
  left: 4%;
  height: 90px;
  align-items: center;
}
.registre {
  position: relative;
  width: 125px;
  height: 42px;
  background: rgb(126, 93, 215);
  border-radius: 10px;
}

.logiusuari {
  position: relative;
  width: 85px;
  height: 85px;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.score.high {
  color: #fff;
  background-color: slateblue;
}

.score.low {
  color: #fff;
  background-color: indigo;
}

/* Pie de página */
.footer {
  position: relative;
  top: 200px;
  width: 100%;
  height: 400px;
  background-color: rgb(20, 12, 47);
}
.movelog {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 20px;
}
.josep {
  position: relative;
  width: 100px;
  height: 100px;
}
.titulfoter {
  position: relative;
  display: flex;
  top: 100px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
